* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    font-family: Arial, sans-serif;
}

.story {
    width: 100vw;
    height: 100dvh;
    background: #000;
    position: relative;
    overflow: hidden;
    color: #fff;
}

.img1{
    background-image: url("../image/story/1.jpg");
    background-size: cover;
}

.img2{
    background-image: url("../image/story/2.jpg");
    background-size: cover;
}

.img3{
    background-image: url("../image/story/3.jpg");
    background-size: cover;
}

.img4{
    background-image: url("../image/story/4.jpg");
    background-size: cover;
}

.img5{
    background-image: url("../image/story/5.jpg");
    background-size: cover;
}

.img6{
    background-image: url("../image/story/6.jpg");
    background-size: cover;
}

.img7{
    background-image: url("../image/story/7.jpg");
    background-size: cover;
}

.img8{
    background-image: url("../image/story/8.jpg");
    background-size: cover;
}
.img9{
    background-image: url("../image/story/9.jpg");
    background-size: cover;
}
.img10 {
    background-image: url("../image/story/10.jpg");
    background-size: cover;
}
.img11 {
    background-image: url("../image/story/18.jpg");
    background-size: cover;
}

.img12 {
    background-image: url("../image/story/11.jpg");
    background-size: cover;
}
.img13 {
    background-image: url("../image/story/12.jpg");
    background-size: cover;
}
.img14 {
    background-image: url("../image/story/20.jpg");
    background-size: cover;
}
.img15 {
    background-image: url("../image/story/21.jpg");
    background-size: cover;
}
.img16 {
    background-image: url("../image/story/moon10.webp");
    background-size: cover;
}
.img17 {
    background-image: url("../image/story/16.jpg");
    background-size: cover;
}
.img18 {
    background-image: url("../image/story/17.jpg");
    background-size: cover;
}
.img19 {
    background-image: url("../image/story/moon13.webp");
    background-size: cover;
}

.img20 {
    background-image: url("../image/story/moon14.webp");
    background-size: cover;
}

.img21 {
    background-image: url("../image/story/moon15.webp");
    background-size: cover;
}

.img22 {
    background-image: url("../image/story/21.jpg");
    background-size: cover;
}

.img23 {
    background-image: url("../image/story/22.jpg");
    background-size: cover;
}

.img24 {
    background-image: url("../image/story/20.jpg");
    background-size: cover;
}

.img25 {
    background-image: url("../image/story/19.jpg");
    background-size: cover;
}

.img26 {
    background-image: url("../image/story/moon2.webp");
    background-size: cover;
}

.img27 {
    background-image: url("../image/story/18.jpg");
    background-size: cover;
}

.img28 {
    background-image: url("../image/story/moon13.webp");
    background-size: cover;
}

.s{
    left: 180px;
    top: 300px;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
}

.progress {
    position: absolute;
    top: 12px;
    left: 10px;
    right: 10px;
    display: flex;
    gap: 4px;
}

.progress span {
    flex: 1;
    height: 3px;
    background: rgba(255, 255, 255, .35);
    border-radius: 10px;
}

.progress span:first-child {
    background: #fff;
}

.top {
    position: absolute;
    top: 28px;
    left: 12px;
    right: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.left img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

.left h4 {
    font-size: 16px;
    
}

.left p {
    font-size: 13px;
    color: #ddd;
}

.music {
    position: absolute;
    top: 88px;
    left: 16px;
    font-size: 18px;
    font-weight: 600;
}

.timer {
    position: absolute;
    top: 88px;
    right: 16px;
    font-size: 18px;
}

.content {
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
    bottom: 90px;
    color: #000;
}

.s{
    top: 390px;
    font-weight: 700;
}

.radha{
    left: 190px;
    top: 70px;
    font-weight: 700;
    font-size: 8px;
}

.krishna{
    left: 40px;
    top: 60px;
    font-weight: 700;
    font-size: 8px;
    color: #fff;
}

.ryuk{
    color: #fff;
    font-family: fantasy;
    font-weight: 500;
}
.bottom {
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 18px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.message {
    flex: 1;
    border: 1px solid rgba(255, 255, 255, .4);
    border-radius: 30px;
    padding: 14px 18px;
    color: #ddd;
}

.icons {
    display: flex;
    gap: 18px;
    font-size: 28px;
}

#heart:hover {
    color: red;
    background: red;
}

h3 {
    padding: 20px;
    font-family: fantasy;
    font-weight: 300;
}
